<main class="flex my-5 flex-col w-full items-center gap-3">

  <app-carousel class="md:mx-auto max-w-7xl px-1.5 md:px-1.5 w-full lg:px-8 items-center"/>

  <ng-container *ngIf="(searchService.search | async) === ''; else searchContainer">
    <app-post
      class="w-full max-w-3xl flex justify-center"
      *ngFor="let article of articleService.articles | async; index as i"
      [article]="article"
      [index]="i+1"
    />
  </ng-container>
  <ng-template #searchContainer>
    <app-post
      class="w-full max-w-3xl flex justify-center"
      *ngFor="let article of searchService.Articles | async; index as i"
      [article]="article"
      [index]="i+1"
    />
  </ng-template>

  <div class="w-full mt-1 flex items-center justify-center" *ngIf="articleService.loading | async">
    <span class="material-symbols-outlined animate-spin text-gray-100">
      progress_activity
      </span>
  </div>
</main>
