<app-header [setting]="setting">
  <div
    class="search relative w-full text-gray-600 focus-within:text-gray-400 drop-shadow-md"
  >
    <span class="absolute inset-y-0 left-0 flex items-center pl-2">
      <button type="submit" class="p-1 focus:outline-none focus:shadow-outline" (click)="search.focus()">
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          class="w-6 h-6"
        >
          <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
      </button>
    </span>
    <input
      type="search"
      #search
      name="q"
      class="py-2 text-sm w-full bg-gray-100 rounded-md pl-10 focus:outline-none focus:bg-white focus:text-gray-900"
      placeholder="Search..."
      autocomplete="off"
    />
  </div>

  <section
    class="bottom mx-auto relative py-5 max-w-7xl px-4 sm:px-6 lg:px-8 flex items-center"
  >
  <ng-container *ngIf="highlight$ | async as articles">
    <app-carousel class="w-full drop-shadow-lg" [articles]="articles" [interval]="setting.carousel_time || 1000"/>
  </ng-container>
  </section>
</app-header>

<main class="flex mt-5 flex-col w-full items-center gap-3">
  <app-post
    class="w-full max-w-3xl flex justify-center"
    *ngFor="let article of articles$ | async; index as i"
    [article]="article"
    [index]="i+1"
  />
</main>

<app-footer [settings]="setting"/>