<div
  class="w-full bg-white bg-opacity-70 drop-shadow-md justify-center items-center"
>
  <div
    class="mx-auto p-5 max-w-7xl px-4 w-full sm:px-6 lg:px-8 grid grid-cols-1 md:grid-cols-3  items-center gap-y-4"
  >
    <div class="hidden md:flex items-start">
      <div class="-translate-x-3">
        <div class="w-full flex justify-start">
          <a (click)="router.navigate(['/'])" class="text-black text-opacity-90 hover:text-black rounded-full bg-transparent opacity-50 hover:opacity-70 hover:bg-gray-50 py-2 px-4 hover:bg-opacity-75">
            Home
          </a>
          <a (click)="router.navigate(['/terms-and-condition'])" class="text-black text-opacity-90 hover:text-black rounded-full bg-transparent opacity-50 hover:opacity-70 hover:bg-gray-50 py-2 px-4 hover:bg-opacity-75">
            Termos e Condições
          </a>
        </div>
      </div>
    </div>
    <div class="hidden md:flex justify-center opacity-75">
    </div>
    <div class="justify-self-center md:justify-self-end">
      <div class="w-full flex justify-center md:justify-end">
        <a href="https://github.com/SilvioCavalcantiBonfim" target="_blank" class="rounded-full bg-transparent opacity-50 hover:opacity-70 hover:bg-gray-50 p-2 hover:bg-opacity-75">
          <img height="20" width="20" src="https://cdn.simpleicons.org/github/000000" />
        </a>
        <a href="https://www.linkedin.com/in/silvio-cavalcanti-bonfim/" target="_blank" class="rounded-full bg-transparent opacity-50 hover:opacity-70 hover:bg-gray-50 p-2 hover:bg-opacity-75">
          <img height="20" width="20" src="https://cdn.simpleicons.org/linkedin/000000" />
        </a>
        <a href="mailto://silviocavalcanti2011@gmail.com" target="_blank" class="rounded-full bg-transparent opacity-50 hover:opacity-70 hover:bg-gray-50 p-2 hover:bg-opacity-75">
          <img height="20" width="20" src="https://cdn.simpleicons.org/gmail/000000" />
        </a>
        <a href="https://twitter.com/SilvioCBONFIM" target="_blank" class="rounded-full bg-transparent opacity-50 hover:opacity-70 hover:bg-gray-50 p-2 hover:bg-opacity-75">
          <img height="20" width="20" src="https://cdn.simpleicons.org/twitter/000000" />
        </a> 
        <a href="https://www.instagram.com/silviocavalcanti534/" target="_blank" class="rounded-full bg-transparent opacity-50 hover:opacity-70 hover:bg-gray-50 p-2 hover:bg-opacity-75">
          <img height="20" width="20" src="https://cdn.simpleicons.org/instagram/000000" />
        </a>
      </div>
    </div>
  </div>
  <div class="bg-gray-900 text-white bg-opacity-50 flex justify-center py-6">
    <span class="opacity-75 font-normal text-sm whitespace-nowrap">
      &copy;{{date}} Silvio Cavalcanti | Todos os direitos reservados.
    </span>
  </div>
</div>
