<main
  class="font-normal m-0 w-full p-0 md:mx-auto md:drop-shadow-lg md:p-5 md:max-w-7xl md:px-6 lg:px-8 text-gray-600"
>
  <div
    class="relative h-[300px] z-40 w-full flex justify-center items-center bg-white drop-shadow-xl rounded-none md:rounded-t-md bg-opacity-50"
  >
    <ng-lottie [options]="options" height="400px" class="absolute"></ng-lottie>
  </div>
  <div
    class="p-5 bg-opacity-75 text-center z-40 backdrop-blur-sm bg-white font-semibold text-2xl"
  >
    Termos e Condições
  </div>
  <div
    class="bg-gray-50 leading-8 px-3 lg:px-8 pt-0 py-5 flex flex-col mt-[1px] text-lg"
  >
    <p>
      Bem-vindo(a) ao nosso blog! Os seguintes termos e condições regulam o uso
      deste site. Ao acessar ou utilizar este blog, você concorda em cumprir e
      estar vinculado(a) a estes termos e condições. Por favor, leia-os
      cuidadosamente antes de continuar usando o blog.
    </p>

    <h2 class="my-4">Uso do Conteúdo</h2>
    <ol class="px-5 ">
      <li class="list-decimal">
        Todo o conteúdo apresentado neste blog é apenas para fins informativos.
        Não garantimos a precisão, integridade ou atualidade das informações
        fornecidas. O uso do conteúdo é de sua própria responsabilidade.
      </li>
      <li class="list-decimal">
        Você concorda em não reproduzir, distribuir, modificar ou transmitir
        qualquer conteúdo deste blog sem autorização prévia por escrito.
      </li>
    </ol>
    <h2 class="my-4">Comentários dos Usuários</h2>
    <ol class="px-5">
      <li class="list-decimal">
        Este blog pode permitir comentários dos usuários em certas postagens.
        Você é responsável pelo conteúdo de seus comentários e concorda em não
        postar material difamatório, obsceno, ilegal ou ofensivo.
      </li>
      <li class="list-decimal">
        Nos reservamos o direito de remover ou moderar qualquer comentário que
        viole estes termos e condições ou que consideremos inadequado.
      </li>
    </ol>
    <h2 class="my-4">Propriedade Intelectual</h2>
    <ol class="px-5">
      <li class="list-decimal">
        Todos os direitos autorais, marcas registradas e outros direitos de
        propriedade intelectual relacionados a este blog são de nossa
        propriedade ou de terceiros com os quais temos autorização.
      </li>
      <li class="list-decimal">
        Você não adquire nenhum direito de propriedade intelectual ao acessar ou
        usar este blog.
      </li>
    </ol>
    <h2 class="my-4">Links Externos</h2>
    <ol class="px-5">
      <li class="list-decimal">
        Este blog pode conter links para sites de terceiros. Esses links são
        fornecidos apenas para conveniência e não representam um endosso ou
        garantia em relação ao conteúdo desses sites.
      </li>
      <li class="list-decimal">
        Não nos responsabilizamos por qualquer dano ou perda causada pelo uso de
        sites vinculados.
      </li>
    </ol>
    <h2 class="my-4">Limitação de Responsabilidade</h2>
    <ol class="px-5">
      <li class="list-decimal">
        Este blog é fornecido "no estado em que se encontra", sem garantias de
        qualquer tipo, expressas ou implícitas.
      </li>
      <li class="list-decimal">
        Não nos responsabilizamos por quaisquer danos diretos, indiretos,
        incidentais, consequenciais ou punitivos resultantes do uso ou
        incapacidade de usar este blog.
      </li>
    </ol>
    <h2 class="my-4">Alterações nos Termos e Condições</h2>
    <ol class="px-5">
      <li class="list-decimal">
        Reservamos o direito de alterar estes termos e condições a qualquer
        momento, sem aviso prévio. Recomendamos que você revise regularmente
        esta página para se manter atualizado(a) com quaisquer mudanças.
      </li>
    </ol>
  </div>
  <div
    class="p-5 bg-opacity-75 text-center z-40 backdrop-blur-sm bg-white font-semibold text-2xl"
  >
    Política de Privacidade
  </div>
  <div class="bg-gray-50 leading-8 px-3 lg:px-8 pt-0 py-5 flex flex-col mt-[1px] text-lg md:rounded-b-md">
    <p>
      Esta política de privacidade descreve como coletamos, usamos e protegemos
      suas informações pessoais ao utilizar este blog. Ao acessar ou utilizar
      este blog, você concorda com os termos desta política de privacidad
    </p>

    <h2 class="my-4">Coleta de Informações</h2>
    <ol class="px-5">
      <li class="list-decimal">
        Podemos coletar informações pessoais, como nome, endereço de e-mail e
        outras informações que você voluntariamente fornece ao entrar em contato
        conosco ou comentar em postagens.
      </li>
      <li class="list-decimal">
        Também podemos coletar informações não pessoais, como dados demográficos
        e padrões de uso, para melhorar o conteúdo e a experiência do usuário.
      </li>
    </ol>
    <h2 class="my-4">Uso das Informações</h2>
    <ol class="px-5">
      <li class="list-decimal">
        Utilizamos suas informações pessoais para responder a suas perguntas,
        fornecer informações solicitadas e melhorar nossos serviços.
      </li>
      <li class="list-decimal">
        Podemos usar informações não pessoais de forma agregada para análise
        estatística e melhoria do blog.
      </li>
    </ol>
    <h2 class="my-4">Divulgação a Terceiros</h2>
    <ol class="px-5">
      <li class="list-decimal">
        Não vendemos, alugamos ou compartilhamos suas informações pessoais com
        terceiros, exceto quando exigido por lei ou com seu consentimento.
      </li>
      <li class="list-decimal">
        Podemos divulgar informações não pessoais de forma agregada para fins de
        marketing ou publicidade.
      </li>
    </ol>
    <h2 class="my-4">Segurança</h2>
    <ol class="px-5">
      <li class="list-decimal">
        Implementamos medidas de segurança adequadas para proteger suas
        informações pessoais contra acesso não autorizado ou divulgação.
      </li>
      <li class="list-decimal">
        No entanto, não podemos garantir a segurança absoluta das informações
        transmitidas pela Internet.
      </li>
    </ol>
    <h2 class="my-4">Cookies</h2>
    <ol class="px-5">
      <li class="list-decimal">
          Utilizamos cookies para melhorar a funcionalidade e a experiência do
          usuário. Você pode optar por desabilitar os cookies em seu navegador,
          mas isso pode afetar a utilização do blog.
      </li>
    </ol>
    <h2 class="my-4">Alterações na Política de Privacidade</h2>
    <ol class="px-5">
      <li class="list-decimal">
          Reservamos o direito de alterar esta política de privacidade a
          qualquer momento, sem aviso prévio. Recomendamos que você revise
          regularmente esta página para se manter atualizado(a) com quaisquer
          mudanças.
      </li>
    </ol>
    <p>
      Se você tiver alguma dúvida ou preocupação sobre estes termos e condições
      ou nossa política de privacidade, entre em contato conosco através dos
      meios fornecidos no blog.
    </p>
  </div>
</main>
