<div class="relative ml-3 hidden z-50 md:block">
  <div class="flex">
    <div class="mr-3 border-r border-gray-400 pr-3">
      <p class="text-gray-200 text-end text-sm capitalize">
        {{ profile.full_name }}
      </p>
      <p class="text-gray-400 text-xs">
        {{ profile.email }}
      </p>
    </div>

    <button
      (click)="dorpdownstate = !dorpdownstate"
      #dropdownButton
      type="button"
      class="flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 transition-all"
      id="user-menu-button"
      aria-expanded="false"
      aria-haspopup="true"
    >
      <div
        class="h-9 w-9 rounded-full bg-indigo-500 text-white flex items-center justify-center"
      >
        <span class="text-base font-semibold">{{
          profile.full_name && profile.full_name[0].toUpperCase()
        }}</span>
      </div>
    </button>
    <div></div>
  </div>
  <div
    *ngIf="dorpdownstate"
    [@fade]="dorpdownstate"
    style="z-index: 10000"
    class="absolute right-0 mt-2 z-50 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="user-menu-button"
    tabindex="-1"
  >
    <a
      *ngFor="let action of actions"
      class="flex items-center px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100"
      role="menuitem"
      tabindex="-1"
      id="user-menu-item-2"
      (click)="action.action()"
      aria-hidden="true"
      ><span class="material-symbols-outlined mr-2">{{ action.icon }}</span>
      {{ action.title }}</a
    >
  </div>
</div>

<div class="relative ml-3 block md:hidden">
  <div class="flex">
    <a
      *ngFor="let action of actions"
      class="flex items-center p-2 text-sm text-gray-100 cursor-pointer"
      role="menuitem"
      tabindex="-1"
      id="user-menu-item-2"
      (click)="action.action()"
      aria-hidden="true"
      ><span class="material-symbols-outlined mr-2">{{ action.icon }}</span></a
    >
  </div>
</div>
