<div>
  <label 
    [attr.for]="id" 
    [@shakeHorizontal]="animationController | async"
    [ngClass]="{
      'text-red-700': !(alertController | async),
    }"
    class="text-sm font-medium leading-6 text-gray-900 flex"
  >
    <span class="material-symbols-rounded mr-1">{{icon}}</span>
    <span>{{label}}</span>
  </label>
  <div class="mt-2">
    <input 
    [id]="id" 
    [name]="name"
    [type]="type"
    [autocomplete]="autocomplete"
    [@shakeHorizontal]="animationController | async"
    (@shakeHorizontal.done)="animationController.next(true)"
    [ngClass]="{
      'ring-red-700': !(alertController | async),
    }"
    class="
      block 
      w-full 
      rounded
      ring-1
      ring-inset
      py-1.5
      px-3
      ring-gray-300
      text-gray-900 
      shadow-sm 
      outline-none
      sm:text-sm 
      sm:leading-6"
    [formControl]="formcontrol"
    >
  </div>
</div>